<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="menu-wrapper">
 <header class="header">
 <a href="/" class="logo"><img alt="Logo" src="/img/Perfect_Pizza.png"><span>+<span></span></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/cart">Menu</a></li>
    <li><a href="/order">My Orders</a></li>
  </ul>
</header>
</div>
    <div class="row">
        <form action="/orders" method="get">
            <section id="section">
                <div class="center">
                    <i class="fa fa-shopping-cart" style="font-size:xx-large; font-weight:900"> Order Summary</i>
                </div>
                <div style="margin: 2em;"></div>
                <div class="tafel">
                    <table class="center">
                        <tr>
                            <th>Pizza</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Date Ordered</th>
                        </tr>
                        {{#each order_line}}
                        <tr>

                            <td>{{pizza_size}}</td>
                            <td>{{quantity}}</td>
                            <td>{{total_price}}</td>
                            <td>{{date}}</td>

                        </tr>
                        {{/each}}
                    </table>
                    <div style="margin: 2em;"></div>
                    {{#each getTotal}}
                    <div class="center">
                    <strong>Grand Total</strong>
                    <input type="text" class="cost total-cost left" style="margin-left:50px;" step=".01" readonly class="totalSettings"
                        placeholder={{total}}>
                        </div>
                        <div style="margin-top: 25px;" class="center">
                        <input class="ord_btn" type="submit" value="Order Now">
                        </div>
                    {{/each}}
                </div>
            </section>
        </form>
    </div>
</body>

</html>